<IfModule authz_core_module>
    Require all denied
    <FilesMatch "\.(css|js|jpg|jpeg|png|csv|jpg|gif)$">
    Require all granted
    </FilesMatch>
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>